* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  justify-content: center;
  display: flex;
  align-items: center;
}
.container {
  margin: 30% auto;
}
input {
  font-size: 1.5rem;
}

button {
  background-color: black;
  color: #fff;
  border-radius: 5px;
  display: flex;
  margin: 10px auto;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
}
